@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<!-- This is just here for jokes if you're reading this andy :D -->
<p>We pride ourselves on innovating new ways to completely disregard your privacy.</p>
